.sign-in_container{
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sign-in__button, l-reuleaux {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}