.polygons-menu__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f6fcfc;
    box-sizing: border-box;
}

.resize-handle__polygons-menu{
    height: 10px;
    background-color: #ccc; /* Adjust handle color */
    cursor: ew-resize; /* Cursor style */
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 1rem;
    border-radius: 5px;
}

.polygon-table_container{
    background-color: #f6fcfc;
}

.polygon-details-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #bbbbbb;
}
