.polygons_menu{
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: aliceblue;
}

.polygons-menu__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin: 1rem;
    width: fit-content;
    max-height: 75vh;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 1rem;
    overflow-y: auto;
}

