.polygon-table{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 5px;
}

.polygon-table__table{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.buttons-container>button{
    font-size: 1rem;
}

.buttons-map-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.5rem;
}

.button-delete{
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-delete:hover{
    background-color: #a52525;
}
.button-delete-disabled{
    background-color: #aaaaaa;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
}

.button-view-on-map{
    background-color: #4CAF50;
    color: rgb(222, 245, 250);
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-view-on-map:hover{
    background-color: #296a2d;
}
.button-view-on-map-disabled{
    background-color: #aaaaaa;
    color: rgb(222, 245, 250);
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
    transition: all 0.3s ease;
}

.button-load-more{
    background-color: #96caf4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-load-more:hover{
    background-color: #3c5267;
}
.button-load-more-disabled{
    background-color: #aaaaaa;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
}

.button-center-on-map{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-center-on-map:hover{
    background-color: #235025;
}
.button-center-on-map-disabled{
    background-color: #aaaaaa;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
}


/* Custom styles for the React Table Component */

/* Table rows */
.rdt_TableRow{
    cursor: pointer;
    transition: all 0.3s ease;
}
.rdt_TableRow:hover{
    background-color: #f0f0f0;
}