.help-menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    padding-left: 1rem;
    padding-right: 1rem;
}
  
.help-index {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.help-index-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.help-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
    overflow-y: auto;
}

.help-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    margin-bottom: 3rem;
}

.help-section h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.help-index-link {
    font-size: 1rem;
    font-weight: 300;
    color: #333333;
    cursor: pointer;
    transition: color 0.3s ease;
}
.help-index-link:hover {
    color: #495fc5;
}

.help-index-link.active {
    font-weight: bold;
    color: #495fc5;
    
}
  
.help-next-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 0.35rem 0.5rem;
    background-color: #a7a2d18a;
    border: 1px solid #cccccc98;
    cursor: pointer;
    margin-top: 0.3rem;
    transition: background-color 0.3s ease;
}
.help-next-button:hover{
    background-color: #969696;
}

.help-note-container{
    border: 1px solid #cccccc98;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #f9f9f9;
}

/* MENU SECTION */

.section-image-container{
    width: 95%;
}
.section-image {
    width: 100%;
    height: auto;
}