.save-polygon-menu-container{
    background-color: rgb(167, 203, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    margin: 0.3rem;
    padding: 1rem;
    position: relative;
}

.close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.4rem;
    cursor: pointer;
    transition: color 0.3s;
}
.close-button:hover{
    color: rgba(0, 0, 0, 0.488);
}

.textarea{
    resize: none;
}

.required{
    color: red;
}

.menu-fields{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-label{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.menu-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.menu-buttons>button{
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin: 0.3rem;
}
.menu-buttons>button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.255);
}

.rti--container{
    max-width: 175px;
    display: flex;
    max-height: 50px;
    overflow: auto;
}

.confirmation-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
}
.confirmation-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.confirmation-buttons>button{
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.confirmation-buttons>button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.255);
}
